@import "node_modules/bulma/bulma";
@import "node_modules/font-awesome/css/font-awesome";

.flash-message {
  margin-bottom: 20px;
}

.days .day {
  width: 300px;
  float: left;
  margin: 20px;
}

.nav-logo {
  height: 3.2rem;
}

.person-photo {
  max-width: 150px;
  border-radius: 50%;
}

.person-photo-fluid {
  max-width: 100%;
  border-radius: 50%;
}

.details-list {
  dt {
    font-weight: bold;
    padding-top: 10px;
  }
}