@import "variables";
@import "../../../node_modules/bulma/bulma";
@import "overrides";
@import "../../../node_modules/font-awesome/css/font-awesome";

$badge-font-size: $size-normal;

@import "bulma-extensions/_all";


.nav {
  background-color: #2fa4e7;
  background-image: linear-gradient(180deg,#54b4eb 0%,#2fa4e7 60%,#1d9ce5 100%);
  color: #fff;
}

nav.sidebar {
 padding: 20px;
}

.content {
  padding: 20px;
}


.flash-message {
  margin-bottom: 20px;
}

.nav-logo {
  height: 3.2rem;
}

.person-photo {
  max-width: 150px;
  border-radius: 50%;
}

.person-photo-fluid {
  max-width: 100%;
  border-radius: 50%;
}

.details-list {
  dt {
    font-weight: bold;
    padding-top: 10px;
  }
}